@import "tailwindcss";
@import "./colors.css";
@import "./base.css";
@import "./components.css";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Plus Jakarta Sans Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary: var(--color-blue-500);
  --color-background: white;
  --color-foreground: var(--color-gray-950);
  --color-border: var(--color-gray-500);
}

:root {
  .dark {
    --color-background: black;
    --color-foreground: var(--color-gray-50);
  }
}
